<div class="card">
    <div class="card-header justify-content-center">
        <p class="card-title">Tareas</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tarea</th>
                        <th>Categoría</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each todos}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.title}}</td>
                        <td>
                            <span class="color-container" style="background-color: {{ this.category_color }};"></span>
                            {{ this.category_name }}
                        </td>
                        <td class="d-flex justify-content-center">
                            <a href="/tareas/edit/{{this.id}}" class="btn btn-primary m-1">Editar</a>
                            <form action="/tareas/delete" method="post">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <button type="submit" class="btn btn-danger m-1">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>